<!-- CONTENT MODULE -->
<section class="module">
  <aside>
    
  </aside>

  <section>
    
    <section>
      <ul>
        <li>
          I've built a billiard clock app in Delphi. That is my first app that has been in use forever.
        </li>
      </ul> 
    </section>
  </section>
</section>
<!-- /CONTENT MODULE -->

<!-- CONTENT MODULE 4 -->
<section class="module">
  <aside>
    
  </aside>

  <section>
    
    <section>
      <ul>
        <li>
          Wifi hack, Age: 16
          I successfully hacked into a network. Discovered Backtrack and aircrack-ng and other tools. Owned a wifi hotspot password of 25 characters in 10 minutes. That was a hit.
          Hacking android, Age: 18
          Great feeling when you finally gain superuser permissions and start to install custom firmware on android phones. Learned how to repack a common app like messenger to include malicious code that brings a tunnel to other devices. How to set a back door in phones.


        </li>
      </ul> 
    </section>
  </section>
</section>
<!-- /CONTENT MODULE -->

<!-- CONTENT MODULE 5 -->
<section class="module">
  <aside>
    
  </aside>

  <section>
    
    <section>
      <ul>
        <li>
         
          Hacking android, Age: 18
          Great feeling when you finally gain superuser permissions and start to install custom firmware on android phones. Learned how to repack a common app like messenger to include malicious code that brings a tunnel to other devices. How to set a back door in phones.


        </li>
      </ul> 
    </section>
  </section>
</section>
<!-- /CONTENT MODULE -->

