<!-- INFO MODULE -->
<section class="info">
  <strong>IT guy</strong> with vast prior experience in Full-Stack
  Web Dev - designing, building and deploying web solutions.
  <strong>16+ year experience</strong>I’m certain that I can
  contribute a lot to your team and your company's mission with my passion and broad experience.
  <br /><br />
  For more complete profile visit
  <a href="https://www.linkedin.com/in/ondinmachacek">https://www.linkedin.com/in/ondinmachacek</a>
</section>
<!-- /INFO MODULE -->


<!-- CONTENT MODULE -->
<section class="module">
  <aside>
    <header>
      <h3>Part 1 <strong>Init</strong></h3>
      <h2><strong>Getting excited</strong> in computer science</h2>
    </header>
  </aside>

  <section>
    <header>
      <div>
        <h3>The very first experience</h3>
        <h2 class="strong">Tweaking CD drive</h2>
      </div>

      <div>
        <h3>2006</h3>
        <h2 class="strong">Windows 98</h2>
      </div>
    </header>

    <section>
      <ul>
        <li>
          sas          
        </li>
      </ul>
    </section>
  </section>
</section>
<!-- /CONTENT MODULE -->

<!-- CONTENT MODULE -->
<section class="module">
  <aside></aside>

  <section>
    <header>
      <div>
        <h3>Company Name</h3>
        <h2 class="strong">Professional Title</h2>
      </div>

      <div>
        <h3>Jan 1980 - Nov 1985</h3>
        <h2 class="strong">City, Country</h2>
      </div>
    </header>
    <section>
      
    </section>
  </section>
</section>
<!-- /CONTENT MODULE -->
