<!-- CONTENT MODULE -->
<section class="module">
    <aside>
      <header>
        <h3>Module <strong>1.1</strong></h3>
        <h2><strong>Work</strong> Experience</h2>
      </header>
    </aside>
  
    <section>
      <header>
        <div>
          <h3>Company Name</h3>
          <h2 class="strong">Professional Title</h2>
        </div>
  
        <div>
          <h3>Nov 1985 - Present</h3>
          <h2 class="strong">City, Country</h2>
        </div>
      </header>
  
      <section>
        
      </section>
    </section>
  </section>
  <!-- /CONTENT MODULE -->
  
  <!-- CONTENT MODULE -->
  <section class="module">
    <aside></aside>
  
    <section>
      <header>
        <div>
          <h3>Company Name</h3>
          <h2 class="strong">Professional Title</h2>
        </div>
  
        <div>
          <h3>Jan 1980 - Nov 1985</h3>
          <h2 class="strong">City, Country</h2>
        </div>
      </header>
      <section>
        
      </section>
    </section>
  </section>
  <!-- /CONTENT MODULE -->
  
  <!-- CONTENT MODULE -->
  <section class="module">
    <aside></aside>
  
    <section>
      <header>
        <div>
          <h3>Company Name</h3>
          <h2 class="strong">Professional Title</h2>
        </div>
  
        <div>
          <h3>Jan 1980 - Nov 1985</h3>
          <h2 class="strong">City, Country</h2>
        </div>
      </header>
      <section>
        
      </section>
    </section>
  </section>
  <!-- /CONTENT MODULE -->
  