<!-- INFO MODULE -->
<section class="info">
  <h2>Exciting time in the world!</h2>
  <div>
    <strong>The very first computer</strong>in my life arrived when I was a baby. So I have been dealing with computers <unbderline>all my life</unbderline>. At first I just played games - Prehistoric or Solitaire on Windows v. 3.11. Later I got to start <strong>to rule</strong> my own computers! I was <strong>curious</strong> and I wanted to <strong>understand</strong> what happens on the background.
  </div>
  <br />
</section>
<!-- /INFO MODULE -->
